<div class="search-label">Search events:</div>
<input [(ngModel)]="searchValue" (ngModelChange)="searchChanged($event)" type="text">
<div class="content">
    <div class="events">
        <div *ngFor="let event of events" (click)="getNewsByEvent(event)" class="events-list">
            <div [ngClass]="{ 'active': aciveItem === event }" class="event">{{ event | capitalize }}</div>
        </div>
    </div>
    <div class="articles">
        <div class="article-title" *ngIf="articles | async">Related articles</div>
        <div *ngFor="let article of articles | async" routerLink="/article" [queryParams]="{title: article.title}" class="article">
            <img [src]="article.img || fallback" alt="">
            <a>{{article.title}}</a>
        </div>
    </div>
</div>

