main {
    margin: auto;
    width: 80%;
}

nav {
    padding-left: 20px;

    a {
        text-decoration: none;
        color: #01689b;
        padding-right: 20px;
        font-size: 25px;

        &:hover {
            color: #003b58;
            text-decoration: underline;
        }
    }
}