<nav>
    <img  src="../assets/news.png" alt="">
    <div class="link"><a routerLink="">News</a></div>
    <div class="link"><a routerLink="events">Events</a></div>
    <div class="sources">
        <div class="title">Sources:</div>
        <div class="out-links">
            <a href="https://www.nbcnews.com/politics" class="source">NBS news politics</a>
            <a href="https://time.com/section/politics" class="source">TIME politics</a>
        </div>
    </div>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
